---
import { render } from "astro:content";
import { getCollection, type CollectionEntry } from "astro:content";
import Carousel from "../../../components/Carousel.astro";
import Layout from "../../../layouts/Layout.astro";
import Features from "../../../components/Features.astro";
import HavanaCard from "@/components/HavanaCard.astro";
import { havanaTravelsRussian } from "@/lib/havana";
import { HavanaRussianTabs } from "@/components/HavanaRussianTabs";


export async function getStaticPaths() {
  const travels = await getCollection("rusian");
  type TravelEntry = CollectionEntry<"rusian">;

  return travels.map((travel: TravelEntry) => ({
    params: { id: travel.slug },
    props: { travel },
  }));
}

const { travel } = Astro.props;
const { data,slug } = travel;
const { title, description, images, feautures } = data;
const {Content} = await render(travel);
---

<Layout title={title}>
  <div class="mx-auto max-w-7xl px-5 py-12 sm:py-16 lg:px-8">
    <!-- Título -->
    <h1 class="mb-6 text-center text-3xl font-extrabold text-gray-900 dark:text-white sm:text-4xl">
      Экскурсии в {title === "Гавана" ? "Гавану" : title}
    </h1>
      <Carousel  images={images} slug={slug} />
    <!-- Descripción -->
    <p class="mb-8  text-justify text-sm md:text-lg  dark:text-gray-300 leading-relaxed">
      {description}
    </p>

      <Content />
      {slug === "havana" ? <h1 class="pb-3 text-center  font-extrabold text-gray-900 dark:text-white text-2xl">Другие экскурсии в Гавану</h1> : null}
      {
        slug === "havana" ? <HavanaRussianTabs client:load /> : null
      }
      <div class="flex flex-col gap-3">
      {
        slug === "havana" ? (
          <HavanaCard
            title={havanaTravelsRussian[0].title}
            description={havanaTravelsRussian[0].description}
            images={havanaTravelsRussian[0].images}
            slug={havanaTravelsRussian[0].slug}
          />
        ) : null
      }
      {
        slug === "havana" ? (
          <HavanaCard
            title={havanaTravelsRussian[1].title}
            description={havanaTravelsRussian[1].description}
            images={havanaTravelsRussian[1].images}
            slug={havanaTravelsRussian[1].slug}
          />
        ) : null
      }
      {
        slug === "havana" ? (
          <HavanaCard
            title={havanaTravelsRussian[2].title}
            description={havanaTravelsRussian[2].description}
            images={havanaTravelsRussian[2].images}
            slug={havanaTravelsRussian[2].slug}
          />
        ) : null
      }
    </div>
    <Features images={feautures}/>
  </div>
</Layout>
---
