---
import Carousel from "@/components/Carousel.astro";
import Layout from "@/layouts/Layout.astro";
import { havanaTravelsRussian } from "@/lib/havana";
import { getLangFromUrl, useTranslation } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

---
<Layout title="Sunset">
    <div class="mx-auto max-w-7xl px-5 py-12 sm:py-16 lg:px-8">
    <!-- Título -->
    <div class="flex flex-col items-start pb-4">
 <a 
  href={`/${lang}/travels/havana`} 
  class="group inline-flex items-center gap-2 px-4 py-2 rounded-lg bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 text-gray-700 dark:text-gray-300 font-medium  hover:shadow-md transition-all duration-300 hover:-translate-x-1"
>
  <svg 
    class="w-4 h-4 transition-transform duration-300 group-hover:-translate-x-1" 
    fill="none" 
    stroke="currentColor" 
    viewBox="0 0 24 24" 
    xmlns="http://www.w3.org/2000/svg"
  >
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
  </svg>
  Return
</a>
  <h1 class="mt-2 text-start text-2xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-3xl md:text-4xl leading-tight">
    Excursions to {havanaTravelsRussian[1].title}
  </h1>
</div>
    <Carousel images={havanaTravelsRussian[1].images} slug={havanaTravelsRussian[1].slug} />
    <!-- Descripción -->
    <p
      class="mb-8 text-justify text-sm md:text-lg dark:text-gray-300 leading-relaxed"
    >
      {havanaTravelsRussian[1].description}
    </p>
  </div>
</Layout>