---
import { render } from "astro:content";
import { getCollection, type CollectionEntry } from "astro:content";
import Carousel from "../../../components/Carousel.astro";
import Layout from "../../../layouts/Layout.astro";
import { havanaPhotos } from "../../../mockedPhotos/havanaPhotos";
import Features from "../../../components/Features.astro";
import { HavanaTabs } from "@/components/HavanaTabs";

export async function getStaticPaths() {
  const travels = await getCollection("travels");
  type TravelEntry = CollectionEntry<"travels">;

  return travels.map((travel: TravelEntry) => ({
    params: { id: travel.slug },
    props: { travel },
  }));
}

const { travel } = Astro.props;
const { data, slug } = travel;
const { title, description, images } = data;
const { Content } = await render(travel);
---

<Layout title={title}>
  <div class="mx-auto max-w-7xl px-5 py-12 sm:py-16 lg:px-8">
    <!-- Título -->
    <h1
      class="mb-6 text-center text-3xl font-extrabold text-gray-900 dark:text-white sm:text-4xl"
    >
      Excursions to {title}
    </h1>
    <Carousel images={images} slug={slug} />
    <!-- Descripción -->
    <p
      class="mb-8 text-justify text-sm md:text-lg dark:text-gray-300 leading-relaxed"
    >
      {description}
    </p>

    <Content />
    {slug === "havana" ? <HavanaTabs client:load/> : null}
    <Features images={havanaPhotos} />
  </div>
</Layout>
---
