---
import { render } from "astro:content";
import { getCollection, type CollectionEntry } from "astro:content";
import Carousel from "../../../components/Carousel.astro";
import Layout from "../../../layouts/Layout.astro";
import { havanaPhotos } from "../../../mockedPhotos/havanaPhotos";
import Features from "../../../components/Features.astro";
import { HavanaTabs } from "@/components/HavanaTabs";
import { havanaTravels } from "@/lib/havana";
import HavanaCard from "@/components/HavanaCard.astro";

export async function getStaticPaths() {
  const travels = await getCollection("travels");
  type TravelEntry = CollectionEntry<"travels">;

  return travels.map((travel: TravelEntry) => ({
    params: { id: travel.slug },
    props: { travel },
  }));
}

const { travel } = Astro.props;
const { data, slug } = travel;
const { title, description, images } = data;
const { Content } = await render(travel);
---

<Layout title={title}>
  <div class="mx-auto max-w-7xl px-5 py-12 sm:py-16 lg:px-8">
    <!-- Título -->
    <h1
      class="mb-6 text-center text-3xl font-extrabold text-gray-900 dark:text-white sm:text-4xl"
    >
      Excursions to {title === "Havana" ? "Colonial Havana" : title}
    </h1>
    <Carousel images={images} slug={slug} />
    <!-- Descripción -->
    <p
      class="mb-8 text-justify text-sm md:text-lg dark:text-gray-300 leading-relaxed"
    >
      {description}
    </p>

    <Content />
    {slug === "havana" ? <h1 class="pb-3 text-center  font-extrabold text-gray-900 dark:text-white text-2xl">Other excursions to Havana</h1> : null}
    {slug === "havana" ? <HavanaTabs client:load /> : null}
    <div class="flex flex-col gap-3">
      {
        slug === "havana" ? (
          <HavanaCard
            title={havanaTravels[0].title}
            description={havanaTravels[0].description}
            images={havanaTravels[0].images}
            slug={havanaTravels[0].slug}
          />
        ) : null
      }
      {
        slug === "havana" ? (
          <HavanaCard
            title={havanaTravels[1].title}
            description={havanaTravels[1].description}
            images={havanaTravels[1].images}
            slug={havanaTravels[1].slug}
          />
        ) : null
      }
      {
        slug === "havana" ? (
          <HavanaCard
            title={havanaTravels[2].title}
            description={havanaTravels[2].description}
            images={havanaTravels[2].images}
            slug={havanaTravels[2].slug}
          />
        ) : null
      }
    </div>
    <Features images={havanaPhotos} />
  </div>
</Layout>
---
