---
import "../styles/global.css"
import { getLangFromUrl, useTranslation } from "../i18n/utils";;
import TravelCard from "./TravelCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";


const lang = getLangFromUrl(Astro.url);

const travels = await getCollection("travels");
type TravelEntry = CollectionEntry<"travels">;
const rusian = await getCollection("rusian");
type RusianEntry = CollectionEntry<"rusian">;
---

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 py-3">
  {
    lang === "en" ? (
      travels.map((travel: TravelEntry) => (
    <TravelCard
      title={travel.data.title}
      description={travel.data.description}
      images={travel.data.images}
      slug={travel.slug}
    />
  ))
    ) : (
      rusian.map((travel: RusianEntry) => (
    <TravelCard
      title={travel.data.title}
      description={travel.data.description}
      images={travel.data.images}
      slug={travel.slug}
    />
  ))
    )
  }
</div>